@import "../../variables.scss";

.wrapper {
  width: 600px;

  margin-top: 30px;
  padding: 10px;
  @media only screen and (min-width: $sm) {
      margin-top: 60px;
  }
  // background: $green-light;
  // box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  // backdrop-filter: blur(11.5px);
  // -webkit-backdrop-filter: blur(11.5px);
  // border-radius: 10px;
  // border: 1px solid rgba(255, 255, 255, 0.18);
}

.sectionProgram {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btnPrograming {
  width: 200px;
  border-radius: 20px;
  padding: 10px;
  font-size: 11px;
  background-color: $green-light;
  font-family:$Geometria-Bold;
  color: $font-dark;
  text-decoration: none !important;

  @media only screen and (min-width: $s) {
    width: 300px;
    font-size: 15px;
  }

  @media only screen and (min-width: $sm) {
    width: 400px;
    font-size: 21px;
  }
  &:hover{
    color: $font-dark;
  }
}
.btnHelp {
  margin-top: 20px;
  width: 180px;
  border-radius: 20px;
  padding: 10px;
  font-size: 11px;
  font-family:$Geometria-Bold;
  background-color: $green-light;
  color: $font-dark;
  text-decoration: none !important;
  &:hover{
    color: $font-dark;
  }
  &:focus{
    color: $font-dark;
  }
  @media only screen and (min-width: $s) {
    width: 250px;
    font-size: 15px;
  }
  @media only screen and (min-width: $sm) {
    width: 350px;
    font-size: 21px;
  }
}
