@import "../../variables.scss";


.logo{
    display: block;
    width: 70px;
}

.navbar{
  cursor: pointer;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.title{
    text-align: center;
    font-size: 15px;
    text-transform: uppercase;
    font-family: $sf-bold;
    color: $color-white;
    @media only screen and (min-width: $sm) {
        font-size: 20px;
      }
}


