@import "../../variables.scss";



.logo{
    width: 50px;
    text-align: center;
}

.navbar{
    padding:10px ;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    @media only screen and (min-width: $s) {
        padding: 0;
    }

}

p{
    color:$color-white;
    text-align: center;
    padding: 10px;
    font-size: 15px;
    font-family: $sf-bold;
    @media only screen and (min-width: $s) {
        align-items: center;
    }
    @media only screen and (min-width: $sm) {
        font-size: 25px;
    }
}