@import "../../variables.scss";

.wrapper {
  margin-top: 4%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.cardOne {
  // max-width: 300px;
  // height: 400px;
  max-width: 202px;
  height: 269px;
  cursor: pointer;
  // margin-right: 15px;
  padding: 5px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 5px;
  background: rgba(255, 244, 244, 0.35);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(11.5px);
  -webkit-backdrop-filter: blur(11.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  font-family: $sf-bold;
  transition: 0.3s all ease-in-out;
  &:hover{
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
    transform: scale(1.01);
    .arrow{
        margin-left: 15px;
    }
  }
  @media only screen and (min-width: $s) {
    margin: 5px;
  }
  @media only screen and (min-width: $sm) {
    max-width: 300px;
    height: 400px;
    padding: 10px;
  }
}

.cardSecond {
  max-width: 202px;
  height: 269px;
  cursor: pointer;

  margin-top: 15px;
  padding: 5px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background: rgba(255, 244, 244, 0.35);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(11.5px);
  -webkit-backdrop-filter: blur(11.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  font-family: $sf-bold;
  transition: 0.3s all ease-in-out;
  &:hover{
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
    transform: scale(1.01);
    .arrow{
        margin-left: 15px;
    }
  }
  @media only screen and (min-width: $s) {
    margin-top: 0;
    margin: 5px;
  }
  @media only screen and (min-width: $sm) {
    max-width: 300px;
    height: 400px;
    padding: 10px;
  }
}

.subtitle {
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: start;
  color: $color-white;
  @media only screen and (min-width: $sm) {
    font-size: 18px;
  }
}
.arrow {
  width: 35px;
  margin-left: 10px;
  transition: 0.3s all ease-in-out;
}
.title {
  color: $color-white;
  font-size: 15px;
  @media only screen and (min-width: $sm) {
    font-size: 20px;
  }
}
