@import "../../variables.scss";

.wrapper {
  width: 100%;
  max-width: 900px;
  margin-top: 4%;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;

  justify-content: center;
  flex-wrap: wrap;
  @media only screen and (min-width: $md) {
    flex-direction: row;
    justify-content: space-evenly;
  }

}

.cardOne {
  text-decoration: none;
  width: 200px;
  // width: 400px;
  // height: 180px;
  cursor: pointer;
  margin: 0 !important;
  padding: 15px;

  background: rgba(0,0,0,.5);
  box-sizing: border-box;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  font-family: $CenturyGothic-Bold;
  transition: 0.3s all ease-in-out;
  
  &:hover{

    box-shadow: 0px 3px 12px 4px rgba(0, 254, 149, 0.69);
    transform: scale(1.01);
    text-decoration: none;
    .arrow{
        margin-left: 15px;
    }
  }
  @media only screen and (min-width: $s) {
    width: 294px;
  }

  @media only screen and (min-width: $sm) {
    width: 420px;
  }
  @media only screen and (min-width: $md) {
    width: 340px;
  }
  @media only screen and (min-width: $lg) {
    width: 400px;
    margin: 0 ;
    padding: 30px;
  }
}

.cardSecond {
  text-decoration: none;
  width: 200px;
  // width: 400px;
  // height: 180px;
  cursor: pointer;
  margin: 20px 0 0 0;
  padding: 15px;

  background: rgba(0,0,0,.5);
  box-sizing: border-box;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  font-family: $CenturyGothic-Bold;
  transition: 0.3s all ease-in-out;
  &:hover{
    box-shadow: 0px 3px 12px 4px rgba(0, 254, 149, 0.69);
    transform: scale(1.01);
    text-decoration: none;
    .arrow{
        margin-left: 15px;
    }
  }
  @media only screen and (min-width: $s) {
    width: 294px;
  }

  @media only screen and (min-width: $sm) {
    width: 420px;
  }
  @media only screen and (min-width: $md) {
    width: 340px;
    margin: 0 ;
  }
  @media only screen and (min-width: $lg) {
    width: 400px;
    margin: 0 ;
    padding: 30px;
  }
}

.icon{
  width: 34px;

}
.title {
  color: $color-white;
  font-size: 11px;
  line-height: 20px;
  margin-top: 15px;
  @media only screen and (min-width: $s) {

  }

  @media only screen and (min-width: $sm) {
    font-size: 18px;
  }


}

.subtitle {
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: start;
  color: $color-white;
  @media only screen and (min-width: $sm) {
    font-size: 15px;
  }

}
.arrow {
  width: 35px;
  margin-left: 10px;
  transition: 0.3s all ease-in-out;
}

