@font-face {
    font-family: 'CenturyGothic';
    font-style: normal;
    font-weight: normal;
    src: local('CenturyGothic'), url('CenturyGothic.woff') format('woff');
}
@font-face {
    font-family: 'CenturyGothic-Bold';
    font-style: normal;
    font-weight: normal;
    src: local('CenturyGothic-Bold'), url('CenturyGothic-Bold.woff') format('woff');
}
@font-face {
    font-family: 'Geometria';
    font-style: normal;
    font-weight: normal;
    src: local('Geometria'), url('Geometria.woff') format('woff');
}
@font-face {
    font-family: 'Geometria-Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Geometria-Bold'), url('Geometria-Bold.woff') format('woff');
}
