@import "../../variables.scss";

.container {
  padding: 10px 10px;
  min-height: 100%;
  background-image: linear-gradient(
      rgba(38, 39, 38, 0.158),
      rgba(43, 51, 50, 0.829)
    ),
    url("../../assets/lviv.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.form{
    margin-bottom: 30px;
}



:global{
    .rs-picker-toggle {
        text-align: left;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 298px;
    }
    .rs-picker-menu.rs-picker-check-menu{
        padding-top: 12px;
        width: 299px;
    }
    .rs-form-vertical .rs-form-group .rs-form-control-label {
        display: block;
        color: #ffffff;
        width: 279px;
        font-family: $sf-bold;
        font-size: 14px;
    }
}