@import "../../variables.scss";

.logo{
    display: block;
    width: 70px;
    margin-right: 10px;
}

.footer{
  width: 99%;
  margin-top: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 30px;

  cursor:default;
}
.title{
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
    font-family: $CenturyGothic-Bold;
    color: $color-white;
    @media only screen and (min-width: $s) {
      font-size: 13px;
    }
    @media only screen and (min-width: $sm) {
      font-size: 12px;
    }
    @media only screen and (min-width: $md) {
      width: 70%;
      font-size: 20px;
    }
}
.sectionNumber{
  display: flex;
  align-items: center;
  cursor:pointer;
}
.contact{
  font-family: CenturyGothic-Bold;
  color: $green-light;
     font-size: 10px;
     @media only screen and (min-width: $sm) {
      font-size: 17px;
    }
}
.icon{
  width: 20px;
  margin-right: 5px;
}

.number{
  text-decoration: none;
  font-family: $Geometria-Bold;
  color: $color-white;
  font-size: 9px;
  padding-left: 3px;
  @media only screen and (min-width: $s) {
    font-size: 11px;
  }
  @media only screen and (min-width: $sm) {
    font-size: 17px;
  }
}
.number:hover{
  text-decoration: none;
  color: $color-white;
}
.email{
  font-family: CenturyGothic-Bold;
  text-decoration: none;
  color: $color-white;
  font-size: 15px;
  padding-left: 5px;
  @media only screen and (min-width: $s) {
    font-size: 16px;
  }
  @media only screen and (min-width: $sm) {
    font-size: 20px;
  }
}
.email:hover{
  text-decoration: none;
  color: $color-white;
}