@import "../../variables.scss";

.card {
  margin: 20px;
  padding: 20px;
  width: 500px;
  min-height: 200px;

  display: flex ;
  flex-direction: column ;
  justify-content: space-between;
  border-radius: 10px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.2s;
  cursor: pointer;
  text-decoration: none !important;

  font-family: $Geometria-Bold;
}
.card:hover {
  box-shadow: 0px 3px 12px 4px rgba(0, 254, 149, 0.69);
  transform: scale(1.01);
  text-decoration: none;
  transform: scale(1.01);
  .link:after {
    width: 100%;
  }
  .arrowWhite {
    margin-left: 10px;
  }
  .link{
    text-decoration: none;
    color:$color-white;
  }
}
.link {
  position: relative;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.9);
  text-decoration: none;
}
.lampicon {
  width: 50px;
}
.arrowWhite {
  width: 40px;
  transition: all 0.5s;
}
.link::after {
  position: absolute;
  top: 25px;
  left: 0;
  content: "";
  width: 0%;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.6);
  transition: all 0.5s;
}

.exit {
  justify-self: end;
}

.icon {
  font-size: 30px;
}

.title {
  font-weight: 400;
  color: #ffffff;
  font-size: 18px;
  line-height: 27px;
  @media only screen and (min-width: $sm) {
  font-size: 23px;
  line-height: 36px;
  }
}

.apply {
  display: flex;
  align-items: center;
}

/* CARD BACKGROUNDS */

.card1 {
  background: rgba(0,0,0,.5);
  box-sizing: border-box;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}

.card2 {
  background: rgba(0,0,0,.5);
  box-sizing: border-box;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}

.card3 {
  background: rgba(0,0,0,.5);
  box-sizing: border-box;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}

.card4 {
  background: rgba(0,0,0,.5);
  box-sizing: border-box;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}

.card5 {
  background: rgba(0,0,0,.5);
  box-sizing: border-box;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}

/* RESPONSIVE */
