@import "../node_modules/normalize-scss/sass/normalize";
@import "./assets/fonts/style.scss";
@import "./variables";

.app {
  background-color: $color-white;
  height: 100%;
  font-family: "SF Pro Display Regular", sans-serif;
  overflow-x: hidden;
}

