@import "../node_modules/normalize-scss/sass/normalize";
@import "./assets/fonts/style.scss";
@import "./variables";

.app {
  height: 100%;
  font-family: "SF Pro Display Regular", sans-serif;
  overflow-x: hidden;
  background: linear-gradient(#141e30, #303b69);
}

