$color-black: #000000;
$font-dark: #171a26;
$blue-dark: #303b69;
$gray: #80848c;
$beige-light: #edebe2;
$color-white: #ffffff;
$green: #04a868;
$green-light: #00fe95;


$sf-bold: "CenturyGothic-Bold";
$CenturyGothic: "CenturyGothic";
$CenturyGothic-Bold: "CenturyGothic-Bold";
$Geometria: "Geometria";
$Geometria-Bold: "Geometria-Bold";


$s: 320px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
