// Colors
$color-white: #ffffff;
$color-black: #000000;
$font-dark: #171a26;
$green-dark: #04a868;
$green-light: #00fe95;
$blue-dark: #303b69;
$gray: #80848c;
$beige-light: #edebe2;




// Fonts
$sf-bold: "SF Pro Display Bold";


// Breakpoints
$s: 350px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
