@import "../../variables.scss";



.container {
    padding: 20px 20px ;
    min-height: 100%;
    background-image: url("../../assets/lviv.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;

    
}

.wrapper{
    margin-top:5%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}


.cardOne{
    max-width: 300px;
    height: 400px;
    cursor: pointer;

    margin-right: 15px;
    padding: 15px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 15px;
    background: rgba( 239, 236, 236, 0.35 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 3px );
    -webkit-backdrop-filter: blur( 3px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.cardSecond{

    max-width: 300px;
    height: 400px;
    cursor: pointer;


    margin-left: 15px;
    padding: 15px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;


    background: rgba( 239, 236, 236, 0.35 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 3px );
    -webkit-backdrop-filter: blur( 3px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.subtitle{
    display: flex;
    align-items: center;
}
.arrow{
    width: 35px;
    margin-left: 10px;
}
.title{
  font-size: 20px;
}
